<launch>
    <env name="ROSCONSOLE_CONFIG_FILE"
       value="$(find palm_collector_moveit_cpp)/config/rosconsole.config"/>
    <remap from="/joint_states" to="/rrr_arm/joint_states"/>
    <node name="test_moveit_node" pkg="palm_collector_moveit_cpp" type="testt"  
            output="screen">
    </node>

</launch>
