# Set the default ros output to warning and higher
log4j.logger.ros=INFO
# Override my package to output everything
# log4j.logger.ros.kdl_parser=DEBUG
# log4j.logger.ros.moveit_core=DEBUG
# log4j.logger.ros.moveit_kinematics.kdl=DEBUG
# log4j.logger.ros.moveit_ros_planning=DEBUG
# log4j.logger.ros.moveit_ros_planning_interface=DEBUG
# log4j.logger.ros.palm_collector_moveit_cpp=DEBUG
# log4j.logger.ros.urdf=DEBUG